<nav class="navbar navbar-expand-lg navbar-light fixed-top" style='background-color:white;'>
    <h1 class="navbar-brand">PoLiNg</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <style>
    .navbar-nav .nav-item .nav-link:hover{
      background-color:cyan;
      color:black;
      font-weight: bold;
      border-radius: 20%;
      box-shadow: 3px 3px 4px yellowgreen;
    }
  </style>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <!-- Dashboard -->
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <!-- profile -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <!-- add poll -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'add_poll' %}">AddPoll</a>
          </li>
          <!-- Logout -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
          </li>
        </ul>
      {% else %}
          <!-- register-->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register' %}">SignUp</a>
        </li>
        <!-- login -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">SignIn</a>
        </li>
      {% endif %}
    </div>
  </nav>